// This is the single file output by sass. It is intended to ONLY @import other files.
@import "./tools/fonts";
@import "./tools/vars";
@import "./tools/mainSite";
@import "./tools/fontsize";

// Sections

@import "./sections/_sidebar";
@import "./sections/_login";
@import "./sections/_card";
@import "./sections/_form";
@import "./sections/_topbar";

body{
    .btn{
        padding:10px !important;
    }
    .btn-sm{
        
        padding:3px !important;
    }
    font-family: 'Cairo' !important;
    .container-fluid{
        padding:0!important
    }
    .row{
        width: 100%;
        margin: 0;
        .col-md-2{
            padding: 0;
        }
    }
    .card{
        direction: rtl;
    }
    .content-header{
            .row{
                flex-direction: row-reverse;
                .col-md-6{
                    text-align: right;
                }
            }
    }
    td{
        text-align: right;
    }
    tr{
        text-align: right;
    }
    th{
        text-align: right;
    }
}


#navBar{
    .navbar-customize{
        display: flex;
        flex-direction:row-reverse;
    }
}